<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.gaduda.mapper.scrap.ScrapMapper">
	
		<!-- 스크랩에서 사용할 가구사진 경로 가져오기 -->
	<select id="fur_pic_loc" resultType="string">
		select fur_pic_loc from furniture_picture where fur_no = #{fur_no}
	</select>

	<!-- 가구스크랩 리스트용 가구정보 가져오기 -->
	<select id="furniture_basic_info" resultType="kr.co.gaduda.scrap.vo.FurnitureBasicVO">
		select fur_name, fur_price, fur_brand_name 
 		 from furniture f, furniture_brand fb where f.fur_brand_no = fb.fur_brand_no 
 		 and fur_no = #{fur_no}
	</select>
	
	<!-- 해당 가구 스크랩 갯수 가져오기 -->
	<select id="furniture_scrap_count" resultType="int">
		select count(*) from furniture_scrap where fur_no = #{fur_no}
	</select>
	
	<!-- 해당 회원이 가지고 있는 가구 스크랩번호, 가구 스크랩의 가구번호,스크랩 날짜들 가져오기 -->	
	<select id="furniture_scrap_furniture_no" resultType="kr.co.gaduda.scrap.vo.FurnitureNoDateVO">
		select fur_scrap_no, fur_no, fur_scrap_date from furniture_scrap where mem_id = #{mem_id}	
	</select>
	
	<!-- 가구스크랩 삭제 -->
	<delete id="furniture_scrap_delete">
		delete from furniture_scrap where fur_scrap_no = #{fur_scrap_no}
	</delete>
	
	
	
	
	<!-- 해당회원이 가지고있는 가구배치도리스트 -->
	<select id="fur_arr_scrap_list" resultType="kr.co.gaduda.scrap.vo.FurArrNoDateVO">
		select fur_arr_plan_scrap_no, fur_arr_plan_no, fur_arr_plan_scrap_date
		from furniture_arr_plan_scrap where mem_id = #{mem_id}
	</select>
	
	<!-- 해당 가구배치도스크랩번호의 가구배치도 정보 -->	
	<select id="fur_arr_scrap_info" resultType="kr.co.gaduda.scrap.vo.FurArrBasicVO">
		select fur_arr_name, m.mem_id AS mem_id, mem_nickname, fur_arr_plan_img_loc 
		from furniture_arrangement_plan fap, furniture_arrangement_image fai, member m
		where fap.fur_arr_plan_no = fai.fur_arr_plan_no
    	and fap.mem_id = m.mem_id
		and fap.fur_arr_plan_no = #{fur_arr_plan_no}
	</select>
	
	<!-- 해당 가구배치도의 스크랩 수 -->
	<select id="fur_arr_scrap_count" resultType="int">
		select count(*) from furniture_arr_plan_scrap where fur_arr_plan_no = #{fur_arr_plan_no}
	</select>
	
	<!-- 해당 가구배치도의 컨셉 -->
	<select id="fur_arr_concept" resultType="string">
		select concept_name from furniture_arr_plan_concept fapc, concept c
		where fapc.CONCEPT_NO = c.CONCEPT_NO
		and fur_arr_plan_no = #{fur_arr_plan_no}
	</select>
	
	<!-- 해당 가구배치도의 방종류 -->
	<select id="fur_arr_room_kind" resultType="string">
		select room_kind_def_name from furniture_arr_room_kind fark, room_kind_define rkd 
		where fark.room_kind_def_no = rkd.room_kind_def_no
		and fur_arr_plan_no = #{fur_arr_plan_no}
	</select>
	
	
	
		<!-- 가구배치도스크랩 삭제 -->
	<delete id="furniture_arr_scrap_delete">
		delete from furniture_arr_plan_scrap where fur_arr_plan_scrap_no = #{fur_arr_plan_scrap_no}
	</delete>
	

  	
</mapper>