<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.gaduda.mapper.furniture.FurnitureMapper">


	
	<!-- 해당 가구 스크랩 갯수 가져오기 -->
	<select id="furniture_scrap_count" resultType="int">
		select count(*) from furniture_scrap where fur_no = #{fur_no}
	</select>
	
	<!-- 해당 회원이 가지고 있는 가구 스크랩번호, 가구 스크랩의 가구번호,스크랩 날짜들 가져오기 -->	
	<select id="furniture_scrap_furniture_no" resultType="kr.co.gaduda.scrap.vo.FurnitureNoDateVO">
		select fur_scrap_no, fur_no, fur_scrap_date from furniture_scrap where mem_id = #{mem_id}	
	</select>
	
	
	<!-- 가구 이름, 가격 가져오기 -->
	<select id="get_fur_info" resultType="kr.co.gaduda.furniture.vo.FurnitureVO">
		<![CDATA[
			select fur_no, fur_name, fur_price, fur_good_num, fur_repl_num, fur_brand_name, fur_info
			from FURNITURE, FURNITURE_BRAND
			where FURNITURE.FUR_BRAND_NO = FURNITURE_BRAND.FUR_BRAND_NO and FURNITURE.FUR_NO = #{fur_no}
		]]>
	</select>
	
	<!-- 가구 갯수 세기 -->
	<select id="count_fur" resultType="int">
		<![CDATA[
			select count(*) from furniture
		]]>
	</select>
	
	<!-- 사진 가져오기 -->
	<select id="fur_pic_loc" resultType="string">
		select fur_pic_loc from furniture_picture where fur_no = #{fur_no}
	</select>
  	
</mapper>