<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.gaduda.mapper.furniture.FurnitureMapper">


	
	<!-- 해당 가구 스크랩 갯수 가져오기 -->
	<select id="furniture_scrap_count" parameterType="int" resultType="int">
		select count(*) from furniture_scrap where fur_no = #{fur_no}
	</select>
	
	<!-- 해당 회원이 가지고 있는 가구 스크랩번호, 가구 스크랩의 가구번호,스크랩 날짜들 가져오기 -->	
	<select id="furniture_scrap_furniture_no" resultType="kr.co.gaduda.scrap.vo.FurnitureNoDateVO">
		select fur_scrap_no, fur_no, fur_scrap_date from furniture_scrap where mem_id = #{mem_id}	
	</select>
	<!-- 가구 이름, 가격 가져오기(디테일) -->
	<select id="get_fur_info_detail" parameterType="int" resultType="kr.co.gaduda.furniture.vo.FurnitureDetailVO">
		<![CDATA[
			select fur_no, fur_name, fur_price, fur_good_num, fur_repl_num, fur_brand_name, fur_info
			from FURNITURE, FURNITURE_BRAND
			where FURNITURE.FUR_BRAND_NO = FURNITURE_BRAND.FUR_BRAND_NO and FURNITURE.FUR_NO = #{fur_no}
		]]>
	</select>
	
	<!-- 가구 이름, 가격 가져오기 -->
	<select id="get_fur_info" resultType="kr.co.gaduda.furniture.vo.FurnitureVO">
		<![CDATA[
			select * from (select fur_no, fur_name, fur_price, fur_good_num, fur_repl_num, fur_brand_name
			from FURNITURE, FURNITURE_BRAND
			where FURNITURE.FUR_BRAND_NO = FURNITURE_BRAND.FUR_BRAND_NO order by fur_good_num DESC)  where rownum < 15
		]]>
	</select>
	
	<!-- 가구 갯수 세기 -->
	<select id="count_fur" resultType="int">
		<![CDATA[
			select count(*) from furniture
		]]>
	</select>
	
	<!-- 사진 가져오기 -->
	<select id="fur_pic_loc" parameterType="int" resultType="String">
		select fur_pic_loc from furniture_picture where fur_no = #{fur_no}
	</select>
	
	<!-- 가구 컨셉 가져오기 -->
	<select id="get_fur_con" parameterType="int" resultType="String">
		select CONCEPT_NAME from FURNITURE_CONCEPT FC, CONCEPT CO where FC.CONCEPT_NO = CO.CONCEPT_NO and FC.FUR_NO = #{fur_no}
	</select>
	
	<!-- 가구 종류 가져오기 -->
	<select id="get_fur_kind" parameterType="int" resultType="String">
		<![CDATA[	
		select FUR_KIND_DEF_NAME from FURNITURE_KIND FK, FURNITURE_KIND_DEFINE FKD
		where FK.FUR_KIND_DEF_NO = FKD.FUR_KIND_DEF_NO and FK.FUR_NO =  #{fur_no}
		]]>
	</select>
	
	
	<!-- //////////////////////////////////////////////////////////// -->
	<!-- 가구 구경 페이지용 sql문 -->
	
		
	
	<!-- 가구 리스트 탭용 가구 정보 가져오기 -->
	<select id="furniture_list_info" resultType="kr.co.gaduda.furniture.vo.FurnitureListViewVO"
			parameterType="kr.co.gaduda.furniture.dto.FurnitureCateDTO">
		 select fur_no, fur_name, fur_price, fur_brand_name, fur_good_num, fur_repl_num 
 		 from furniture f, furniture_brand fb 
 		 where f.fur_brand_no = fb.fur_brand_no 
 		 
 		 <if test='room_kind_def_name != null'>
 		 	and f.fur_no in ( 
       			select fur_no from furniture_room_kind frk, room_kind_define rkd 
       			where frk.ROOM_KIND_DEF_NO = rkd.ROOM_KIND_DEF_NO
       			and rkd.ROOM_KIND_DEF_NAME = #{room_kind_def_name} 
       			
       			<if test='fur_kind_def_name != null'>
       			and fur_no in (
         			select fur_no from furniture_kind_define fkd, furniture_kind fk
         			where fkd.FUR_KIND_DEF_NO = fk.FUR_KIND_DEF_NO
         			and FUR_KIND_DEF_NAME = #{fur_kind_def_name}
       				)
       			</if>	 
    		 )
 		 </if>
 		 
 		 <if test='concept_name != null'>
 		 	and f.fur_no in ( 
    		  select fur_no from furniture_concept fc, concept c
   			  where fc.CONCEPT_NO = c.CONCEPT_NO
  			  and c.CONCEPT_NAME = #{concept_name}
			  
				<if test='fur_kind_def_name != null'>      		  
      			and fur_no in (
        			select fur_no from furniture_kind_define fkd, furniture_kind fk
        			where fkd.FUR_KIND_DEF_NO = fk.FUR_KIND_DEF_NO
        			and FUR_KIND_DEF_NAME = #{fur_kind_def_name}
    				)
    			</if>  
     		)
 		 
 		 </if>	 		 	 
 		 order by <if test='array_option == null'>
 		 				fur_no desc
 		 		  </if>
 		 		  <if test='array_option == "furno"'>
 		 		  		fur_no desc
 		 		  </if>
 		 		  <if test='array_option == "good"'>
 		 		  		fur_good_num desc
 		 		  </if>
 		 		  <if test='array_option == "reply"'>
 		 		  		fur_repl_num desc
 		 		  </if> 		 
	</select>
	
	<update id="fur_good_num_up">
		update furniture set fur_good_num = fur_good_num+1 where fur_no = #{fur_no}
	</update>
	
	<update id="fur_good_num_down">
		update furniture set fur_good_num = fur_good_num-1 where fur_no = #{fur_no}
	</update>
	
	<update id="fur_reply_num_up">
		update furniture set fur_repl_num = fur_repl_num+1 where fur_no = #{fur_no}
	</update>
	
	<update id="fur_reply_num_down">
		update furniture set fur_repl_num = fur_repl_num-1 where fur_no = #{fur_no}
	</update>
		<!-- 사진 가져오기 -->
	<select id="fur_pic_loc_one" resultType="String">
		select fur_pic_loc from furniture_picture where fur_no = #{fur_no} and rownum=1
	</select>
	
	
	<!-- 가구 구경 페이지용 끝! -->
	<!-- ///////////////////////////////////////////////////////////////////////// -->
		<!-- 가구 스크랩 한거 있나 확인 -->
	<select id="fur_scrap_chk" parameterType="kr.co.gaduda.furniture.dto.FurnitureScrapDTO" resultType="int">
		select count(*) from furniture_scrap where fur_no=#{fur_no} and mem_id=#{mem_id}
	</select>
	
	<!-- 가구 스크랩 하기 -->
	<insert id="fur_scrap" parameterType="kr.co.gaduda.furniture.dto.FurnitureScrapDTO">
		insert into furniture_scrap(fur_scrap_no, mem_id, fur_no, fur_scrap_date)
		values(seq_fur_scrap.nextval, #{mem_id}, #{fur_no}, sysdate)
	</insert>
	
	<!-- 스크랩 한 사람 목록 가져오기 -->
	<select id="fur_scrap_list" resultType="kr.co.gaduda.furniture.vo.FurnitureScrapListVO" parameterType="int">
		SELECT FS.MEM_ID as MEM_ID, MEM_NICKNAME, FUR_SCRAP_DATE FROM FURNITURE_SCRAP FS, MEMBER ME WHERE ME.MEM_ID = FS.MEM_ID AND FS.FUR_NO = #{fur_no}
	</select>
	
		<!-- 방종류 가져오기 -->
	<select id="get_room_kind" resultType="String">
		<![CDATA[
			select room_kind_def_name from ROOM_KIND_DEFINE
		]]>
	</select>
	
	<!-- 컨셉 종류 가져오기 -->
	<select id="get_concept_kind" resultType="String">
		<![CDATA[
			select concept_name from CONCEPT
		]]>
	</select>
	
	<!-- 가구 종류 가져오기 -->
	<select id="get_fur_def_kind" resultType="String">
		<![CDATA[
			select fur_kind_def_name from FURNITURE_KIND_DEFINE
		]]>
	</select>
	
	<!-- 방 종류에 따라 가구 종류 가져오기 -->
	<select id="get_fur_name_for_room" resultType="String">
		<![CDATA[
			select FD.FUR_KIND_DEF_NAME 
			from FURNITURE_ROOM_KIND FR, FURNITURE_KIND FK, FURNITURE_KIND_DEFINE FD, ROOM_KIND_DEFINE RK 
			where FR.FUR_NO = FK.FUR_NO and FK.FUR_KIND_DEF_NO = FD.FUR_KIND_DEF_NO and FR.ROOM_KIND_DEF_NO = RK.ROOM_KIND_DEF_NO 
			and RK.ROOM_KIND_DEF_NAME = #{room_kind_def_name}
			group by FD.FUR_KIND_DEF_NAME
		]]>
	</select>

	<!-- 가구 상세보기 페이지에서 가구 아이템 이름이랑 가구 사이즈 가져오기 -->
	<select id="get_fur_item" resultType="kr.co.gaduda.furniture.vo.FurnitureItemVO" parameterType="int">
		<![CDATA[
			select FUR_ITEM_NO, FUR_WIDTH, FUR_HEIGHT, FUR_DEPTH 
			from FURNITURE_SIZE FS, FURNITURE F where FS.FUR_NO = F.FUR_NO 
			and FS.FUR_NO = #{fur_no}
		]]>
	</select>
	
		
	<!-- 마이페이지에 최근에 본 가구 목록 가져오기 -->
	<select id="recent_view_fur" resultType="kr.co.gaduda.furniture.vo.FurnitureListViewVO" parameterType="int">
		<![CDATA[
			select f.fur_no, fur_name, fur_good_num, fur_repl_num, fur_pic_loc, 
    			(select count(*) from furniture_scrap where fur_no=#{fur_no}) fur_scrap_num,
   				fur_brand_name
			from furniture f, furniture_picture fp, furniture_brand fb
			where f.fur_no = fp.fur_no
			and f.fur_brand_no = fb.fur_brand_no
			and f.fur_no = #{fur_no}
			and fp.fur_pic_kind = 
				(select fur_pic_kind from furniture_picture 
					where fur_no = #{fur_no} and rownum = 1)
			and rownum = 1
		]]>
	
	</select>
	
	
	
</mapper>